// Place all the styles related to the admin/lojas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.abaixo{
  padding-top: 70px;
}

.encostado{
  padding-top: 50px;
}

.al_center{
  text-align: center;
}

.fundo_tabela{
  background-color: #4682B4;
}