.container-fluid.encostado
  .row
    #fundo_colorido
    #imagem_fundo
    #faixa_transparente


%nav#theMenu.menu.menu-open
  .menu-wrap
    %h1.logo
      %a{:href => "index.html#home"} Menu
    %i.ion-android-close.menu-close
    %a.smoothScroll{:href => "#home"} Home
    %a.smoothScroll{:href => "#intro"} Intro
    %a.smoothScroll{:href => "#about"} About
    %a.smoothScroll{:href => "#demos"} Theme Demos
    %a.smoothScroll{:href => "#buy"} Buy Now!
    %a.smoothScroll{:href => "http://www.landingsumo.com/wp/"} WordPress Bundle!
  #menuToggle.active
    %i.ion-navicon-round










